<!DOCTYPE html>



<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>


    <meta charset="UTF-8" />
    <title>Membros</title>  
    
	<script type="text/javascript" th:src="@{static/jquery-3.3.1.min.js}">
	</script>
    
	<script type="text/javascript" src="static/jquery-ui-1.12.1/jquery-ui.min.js">
	</script>
    
	<script type="text/javascript" src="static/jtable.2.4.0/jquery.jtable.min.js">
	</script>
    
	<script type="text/javascript" src="static/app.js">
	</script>

	<link href="/static/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" type="text/css"/>

	<link href="/static/jtable.2.4.0/themes/metro/blue/jtable.min.css" rel="stylesheet" type="text/css"/>
    
   

</head>

<body>
	<div id="PersonTableContainer"></div>
	

</body>
<footer>

</footer>
</html>

