<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8" />
<title th:text="#{member.list.page.title}">Page Title</title>

 <link href="/static/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
  <!-- without version number (ref: WebJarsResourceResolver) -->
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    
    <script th:src="@{/static/js/member.js}"></script>

</head>

<body
      th:data-date-pattern="#{date.pattern}"
      th:data-language="${#locale.language}"
      th:data-context-path="@{/}"
      th:data-image-path="@{/resources/images/}"
      th:data-confirm="#{confirm.delete('@','@')}"
      th:data-edit-url="@{/api/member}"
      th:data-delete-url="@{/api/member}"
      th:data-404-page="@{/error}">
	<div th:replace="header :: header"></div>
	<div class="container">
		<div class="col-sm-12" align="center">
			<h3 th:text="#{member.list.page.title}">Text</h3>
		</div>
		<div class="row">
			<div class="col-sm-4 border-bottom-0">Nome</div>
			<div class="col-sm-2 border-bottom-0">Telefone</div>
			<div class="col-sm-3 border-bottom-0">email</div>
			<div class="col-sm-2 border-bottom-0">grupos</div>
			<div class="col-sm-1 border-bottom-0">ações</div>
		</div>
		<div class="row" th:each="p : ${retrieveAllMembers}">
		
			<div class="col-sm-4 border-bottom-0" th:text="${p.firstName}">Nome</div>
			<div class="col-sm-2 border-bottom-0">Telefone</div>
			<div class="col-sm-3 border-bottom-0">email</div>
			<div class="col-sm-2 border-bottom-0">grupos</div>
			<div class="col-sm-1 border-bottom-0">ações</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<a href="/member/form" class="btn btn-default" role="button">Novo</a>
			</div>


		</div>
	</div>
	<main id="posts">
	<article th:each="p : ${latest3posts}">
		<h2 class="title" th:text="${p.title}">Post Title</h2>
		<div class="date">
			<i>Posted on</i> <span
				th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}">22-May-2016</span>
			<span th:if="${p.author}" th:remove="tag"> <i>by</i> <span
				th:text="${p.author.fullName != null ?
                        p.author.fullName : p.author.username}">Svetlin
					Nakov</span>
			</span>
		</div>
		<p class="content" th:utext="${p.body}">Post content</p>
	</article>
	</main>

	<!-- 
TODO:
Incluir paginação da listagem 
incluir filtros e buscas
Controle de acesso

 -->
	<div th:replace="footer :: copy"></div>

</body>
</html>
